/* Importando as fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


/* CSS Reset de Eric Meyer */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

img, picture, video, canvas {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* Iniciando a estilização */

body{
    background-color: #f3e5d8;
    color: #5f564e;
    
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

article{
    background-color: #fff;
    border-radius: 25px;
    padding: 35px;
    width: 740px;
    height: auto;
}

article header img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

article header h1{
    font-size: 2.1875em;
    color: #2d1f1a;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;

    margin-top: 30px;
}

article header p{
    margin-top: 15px;
}

article #preparacao{
    background-color: #fff4f9;
    padding: 25px;

    margin-top: 30px;
}

article #preparacao h2{
    font-size: 1.25em;
    color: #7b274e;
}

article #preparacao ol{
    margin-top: 15px;
    padding-left: 25px;
}

article #preparacao li{
    list-style: disc;
    margin-bottom: 10px;
}

article #preparacao li::marker{
    color: #7b274e;
}

article #preparacao li:last-child{
    margin-bottom: 0px;
}

article .box-info{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e3ddd7;
}

article .box-info.last{
    padding-bottom: 0px;
    border-bottom: 0px solid #e3ddd7;
}

article .box-info h2{
    font-family: "Young Serif", serif;
    color: #854532;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6875em;
    margin-bottom: 15px;
}

article .box-info ol, article .box-info ul{
    padding-left: 25px;
}

article .box-info ol li{
    list-style: disc;
    margin-bottom: 10px;
}

article .box-info li::marker{
    color: #854532;
    font-weight: bold;
}

article .box-info li:last-child{
    margin-bottom: 0px;
}

article .box-info ul li{
    list-style: decimal;
    margin-bottom: 10px;
}

article #preparacao ol li p, article .box-info ol li p, article .box-info ul li p{
    padding-left: 15px;
}

article .box-info table{
    width: 100%;
    margin-top: 15px;
}

article .box-info tr{
    display: flex;
    border-bottom: 1px solid #e3ddd7;
}

article .box-info tr:last-child{
    border-bottom: 0px solid #e3ddd7;
}

article .box-info tr td{
    width: 50%;
    padding: 15px;
}

article .box-info tr td:last-child{
    color: #854532;
    font-weight: bold;
}

article .box-info tr:last-child td{
    padding-bottom: 0px;
}

@media (max-width: 768px) {
    main{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    article{
        border-radius: 0px;
        padding: 0px;
    }

    article header img{
        border-radius: 0px;
    }

    article header h1, article header p{
        padding: 0px 35px;
    }

    article section{
        padding: 0px 35px 35px 35px;
    }
}